body {
  background-image: url("https://images.pexels.com/photos/7245519/pexels-photo-7245519.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  color: white;
  text-align: center;
  
}

#myCanvas {
  border-radius: 30px;
  border: 15px double rgb(201, 219, 233);
}
